# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environments
venv/
.env/

# Data (large / local only)
data/raw/
data/processed/

# Outputs
outputs/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
